@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif !important;
    margin: 0;
    height: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.top-nav {
    background-color: rgb(114, 98, 255);
    margin-bottom: 2em;
    padding: 0;
    
    .container-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80vw;
        margin: 0 auto;

        .logo {
            text-decoration: none;
            font-weight: bold;
            color: white;
            font-size: 1.2em;
    
            span {
                color: rgb(0, 255, 115);
            }
            &:hover {
                color: white;
            }
        }
    
        nav {
            display: flex;
            justify-content: space-between;
            padding: 0;

            ul {
                display: flex;

                li {
                    vertical-align: middle;
                    padding: .2em 1.5em;
                }
            }
    
            a {
                color: white;
                font-weight: bold;
                font-size: 1em;
    
                &:hover {
                    color: rgb(0, 255, 115);
                }
            }
        }
    }
}

.login-container {
    display: flex;
    justify-content: space-between;
    font-size: .8em;
    color: white;
    font-size: 1em;
    a {
        color: white;
        padding: 1em;
    }
}

.cart-container {
    display: flex;
    a {
        background-color: rgb(88, 212, 144);
        color: white;
        padding: 1em;

        &:hover {
            background-color: rgb(65, 156, 106);
        }
    }
    span {
        margin-left: .5em;
    }
}

input {
    border: none;
    box-sizing: border-box;
    appearance: none;
    padding: .5em;
    border-radius: 3px;
    margin-right: .2em;
    outline: none;

    &:focus {
        background-color: rgb(212, 255, 212);
    transition: background-color 0.3s ease;
    }
}
button {
    border: none;
    background-color: rgb(88, 212, 144);
    padding: .5em 1em;
    border-radius: 3px;
    color: rgb(46, 46, 46);
    font-weight: bold;
    text-transform: uppercase;

    &:hover {
        background-color: rgb(65, 156, 106);
    transition: background-color 0.3s ease;
    }
}



.content-container {
    text-align: center;

    input {
        width: 40vw;
        padding: 1em;
        background-color:rgb(235, 235, 235);

        &:focus {
            background-color: rgb(212, 255, 212);
        transition: background-color 0.3s ease;
        }
    }
}

.search-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: 80vw;
    margin: 1em auto;
    gap: .3em;

    .book-info {
        background-color: rgb(114, 98, 255);
        padding: .3em;
        border-radius: 5px;
        text-align: center;
        display: flex;
        flex-direction: column;

        span {
            margin: .5em 0;
            font-weight: bold;
        }
        a {
            color: black;
        }

        img {
            height: 200px;
            border-radius: 10px;
        }
        button {
            margin: auto auto 0 auto;
            width: 60%;
            padding: .7em 1em;
            font-size: .8em;
        }
    }
}