@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.top_nav {
    padding: 1em;
    background-color: rgb(114, 98, 255);
    margin-bottom: 2em;

    .container {
        display: flex;
        width: 80vw;
        margin: 0 auto;

        .logo {
            text-decoration: none;
            font-weight: bold;
            color: white;
            font-size: 1.2em;
            margin-right: 5em;
    
            span {
                color: rgb(0, 255, 115);
            }
        }
    
        nav {
            display: flex;
            justify-content: space-between;
            padding: 0;

            ul {
                display: flex;

                li {
                    vertical-align: middle;
                    padding: .2em 2em;
                }
            }
    
            a {
                color: white;
                font-weight: bold;
                font-size: 1em;
    
                &:hover {
                    color: rgb(0, 255, 115);
                }
            }
        }
    }
}


input {
    border: none;
    box-sizing: border-box;
    appearance: none;
    padding: .5em;
    border-radius: 3px;
    margin-right: .2em;
    outline: none;
}
input:focus {
    background-color: rgb(212, 255, 212);
    transition: background-color 0.3s ease;
}
button {
    border: none;
    background-color: rgb(88, 212, 144);
    padding: .5em 1em;
    border-radius: 3px;
    color: rgb(46, 46, 46);
    font-weight: bold;
    text-transform: uppercase;
}
button:hover {
    background-color: rgb(65, 156, 106);
    transition: background-color 0.3s ease;
}



.content_container {
    text-align: center;

    input {
        width: 40vw;
        padding: 1em;
        background-color:rgb(235, 235, 235);
    }
    input:focus {
        background-color: rgb(212, 255, 212);
        transition: background-color 0.3s ease;
    }
}

.search_list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    width: 80vw;
    margin: 1em auto;

    .book_info {
        background-color: rgb(114, 98, 255);
        padding: .3em;
        margin-right: .3em;
        margin-bottom: .3em;
        border-radius: 5px;
        text-align: center;
        display: flex;
        flex-direction: column;

        a {
            color: black;
        }

        img {
            height: 200px;
            border-radius: 10px;
        }
        button {
            margin: auto auto 0 auto;
            width: 60%;
            padding: .7em 1em;
        }
    }
}